<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<app-header></app-header>

  <h2 mat-dialog-title>{{id}}</h2>
  <mat-dialog-content [formGroup]="form">

    <mat-form-field>

      <input matInput
             placeholder="Name"
             formControlName="name">

    </mat-form-field>



    <mat-form-field>

      <input matInput
             placeholder="Phone"
             formControlName="phone"
             type="number">

    </mat-form-field>
  </mat-dialog-content>
  <h2>Adresses:</h2>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          No.
        </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Name
        </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="url">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          url
        </th>
        <td mat-cell *matCellDef="let element"> <a href={{element.url}}>link</a> </td>

      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell  *matHeaderCellDef >  </th>
        <td mat-cell *matCellDef="let element" >
          <button mat-button (click)="onClickDelete(element)">
            <mat-icon>delete</mat-icon>
        </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="edit">
        <th mat-header-cell  *matHeaderCellDef >  </th>
        <td mat-cell *matCellDef="let element" >
          <button mat-button (click)="onClickEdit(element)">
            <mat-icon>edit</mat-icon>
        </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <button mat-button (click)="addAddress()" class="add">
      <mat-icon>add</mat-icon>
    </button>




  <p><mat-dialog-actions>
    <button mat-raised-button (click)="close()">Close</button>
    <button mat-raised-button color="primary" (click)="save()">Save</button>
   </mat-dialog-actions></p>



