<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<app-header></app-header>
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by id">
      No.
    </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
      Name
    </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by description">
      Decription
    </th>
    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by price">
      Price
    </th>
    <td mat-cell *matCellDef="let element"> {{element.price}} </td>
  </ng-container>

  <ng-container matColumnDef="product-delete">
    <th mat-header-cell  *matHeaderCellDef >  </th>
    <td mat-cell *matCellDef="let element" >
      <button mat-button (click)="onClickDelete(element)">
        <mat-icon>delete</mat-icon>
    </button>
    </td>
  </ng-container>
  <ng-container matColumnDef="product-edit">
    <th mat-header-cell  *matHeaderCellDef >  </th>
    <td mat-cell *matCellDef="let element" >
      <button mat-button (click)="onClickEdit(element)">
        <mat-icon>edit</mat-icon>
    </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

