<div class="edit-course-form">
  <h2 mat-dialog-title>{{tittle}}</h2>
  <mat-dialog-content [formGroup]="form">
    <div style="display: flex;">
    <mat-form-field appearance="fill" class="mat-form-field-product">
      <mat-label>Product</mat-label>
      <mat-select formControlName="product" name="product">
        <mat-option *ngFor="let product of listProducts" [value]="product.id">
          {{product.name+'-'+product.description}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="mat-form-field-qty">

      <input matInput
             placeholder="Quantity"
             formControlName="quantity"
             type="number">

    </mat-form-field>
  </div>
  </mat-dialog-content>


  <mat-dialog-actions>
    <button mat-raised-button (click)="close()">Close</button>
    <button mat-raised-button color="primary"  (click)="save()" cdkFocusInitial>Add</button>
   </mat-dialog-actions>


