<div class="edit-course-form">
  <h2 mat-dialog-title>{{tittle}}</h2>
  <mat-dialog-content [formGroup]="form">

    <mat-form-field>



             <textarea matInput placeholder="Message" formControlName="message" cdkTextareaAutosize [cdkAutosizeMinRows]="2" [cdkAutosizeMaxRows]="5">

            </textarea>

    </mat-form-field>

  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button (click)="close()">Close</button>
    <button mat-raised-button color="primary"  [mat-dialog-close]="form.value" cdkFocusInitial>Save</button>
   </mat-dialog-actions>
</div>

