.button-add {
  width: 100%;
}

.mat-button{
  width: 100%;
}
table {
  width: 100%;
  align-items: left;
}

.table {
  width: 100%;
  align-items: left;
}


.mat-column-id{
  text-align: left;
  width: 5%;
}

.mat-column-name{
  text-align: left;
  width: 20%;
}

.mat-column-address{
  text-align: left;
  width: 40%;
}

.mat-column-phone{
  text-align: left;
  width: 15%;
}

.mat-column-delete{
  text-align: center;
  width: auto;
  width: 2%;
}

.mat-column-edit{
  text-align: center;
  width: auto;
  width: 2%;
}

